<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Bar Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-bar-chart></app-bar-chart>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Bubble Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-bubble-chart></app-bubble-chart>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Radar Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-radar-chart></app-radar-chart>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Apex Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-apex-chart></app-apex-chart>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Brush  Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-brush-chart></app-brush-chart>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Donut Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-donut-chart></app-donut-chart>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Donut Monochrome Chart</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-donut-monochrome></app-donut-monochrome>
  </mat-card-content>
</mat-card>
