
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  width: 50%;
  height: 200px;
  margin: 10px 10px 10px 10px;
}

table {
  width: 100%;
}

.outerContainer {
  padding: 5px;
  border: 1px solid #b6b6b6;
  box-sizing: content-box;
  max-width: 90%;
  margin: auto;
  min-height: 900px;
}
