<!-- <div class="container">
  <mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>ISF</mat-card-title>
        <mat-card-subtitle>Importer Security Filing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Importers are required to file the Importer Security Filing before the vessel departs to U.S. ports.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="isf">
          ISF Filing
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Air-AMS</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="airAms">
          AMS Filing
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Air Export</mat-card-title>
        <mat-card-subtitle>Importer Security Filing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Importers are required to file the Importer Security Filing before the vessel departs to U.S. ports.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="airExport">
          Air Export
        </button>
    </mat-card-actions>
  </mat-card>

<mat-card class="example-card col">
  <mat-card-header>
      <mat-card-title>Air-Import</mat-card-title>
      <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      All air shipments to U.S. must file the manifest information 4 hours prior to departure.
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="airImport">
        Air Import
      </button>
  </mat-card-actions>
</mat-card>

</div>


<div class="container">

<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>CMSQ</mat-card-title>
        <mat-card-subtitle>Cargo Manifest System Query</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Importers are required to file the Importer Security Filing before the vessel departs to U.S. ports.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="cmsq">
          CMSQ
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Customs Brokerage</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="customsBrokerage">
          Customs Brokerage
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Ocean Export</mat-card-title>
        <mat-card-subtitle>Importer Security Filing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Importers are required to file the Importer Security Filing before the vessel departs to U.S. ports.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent"routerLink="oceanExport">
          Ocean Export
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Ocean Import</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="oceanImport">
          Ocean Import
        </button>
    </mat-card-actions>
</mat-card>

</div>

<div class="container">
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Parties</mat-card-title>
        <mat-card-subtitle>Importer Security Filing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Importers are required to file the Importer Security Filing before the vessel departs to U.S. ports.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="parties">
          Parties
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Reports</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="reports">
          Reports
        </button>

    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Sea AMS</mat-card-title>
        <mat-card-subtitle>Importer Security Filing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Importers are required to file the Importer Security Filing before the vessel departs to U.S. ports.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="seaAms">
          Sea AMS
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Tables</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="tables">
          Tables
        </button>
    </mat-card-actions>
</mat-card>

</div>

<div class="container">
<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Track & Trace</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="trackAndTrace">
          Track & Trace
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Truck AMS</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="truckAms">
          Truck AMS
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card col">
    <mat-card-header>
        <mat-card-title>Trucking</mat-card-title>
        <mat-card-subtitle>Air Automated Manifest System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        All air shipments to U.S. must file the manifest information 4 hours prior to departure.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="trucking">
          Trucking
        </button>
    </mat-card-actions>
</mat-card>
</div> -->

<!-- <h1>ANA Link, Ltd</h1>

<mat-toolbar color="primary">
  <h3>Menu</h3>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    TOGGLE
  </button>

  <span class="example-spacer"></span>
  <button id="button-logout" md-button>Log Out</button>

  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">


    <mat-nav-list *ngFor = 'let menu of menuItem' [ngStyle]="{'padding-left': '10px'}" >
      <a mat-list-item routerLink="{{menu.route}}" >
        <mat-icon>{{menu.iconName}}</mat-icon>
        {{menu.label}}</a>

    </mat-nav-list>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>


    <!-- Add Content Here -->
    <!-- <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>


