.container {  display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . "
      ". . . . "
      ". . . . ."
      ". . . . . .";
  }
  