html,
body {
  min-height: 100%;
}

.example-card {
    max-width: 200px;
    max-height:fit-content ;
    margin: 10px 10px 10px 10px;
}

mat-card-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em ;
  font-weight: bolder;
  margin: auto auto auto auto;
}

mat-card-actions {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  margin-top: 20px;
}
