html,
body {
  height: 100%;
}

.example-card {
    max-width: 400px;
    margin: 20px 20px 20px 20px;
}

mat-card-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em ;
  font-weight: bolder;
  margin-bottom: 10px;
}

mat-card-actions {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}