<mat-card fxLayout='row' fxLayoutAlign = 'space-around center' style="background-color:lightblue">
  <mat-card-header>
    <mat-card-title>Truck AMS Transaction No: </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>filed on:</p>
  </mat-card-content>
</mat-card>
<br>

<form [formGroup]="amsForm" novalidate (ngSubmit)="onSubmit()" >
   <fieldset  formGroupName="bl" style="color:red">
    <legend>Basic B/L Information</legend>
    <div class="row">
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>B/L Issuer</mat-label>
        <input matInput placeholder="B/L Issuer" formControlName="issuer">
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance='fill'>
        <mat-label>B/L Type</mat-label>
        <input matInput placeholder="B/L Type" formControlName="blType">
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance='fill'>
        <mat-label>Booking No</mat-label>
        <input matInput placeholder="Booking No" formControlName="bookingNo">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Carrier Master B/L</mat-label>
        <input matInput placeholder="Carrier Master B/L" formControlName="carrierMasterBl">
      </mat-form-field>
      <mat-form-field class="col-md-7" appearance='fill'>
        <mat-label>House B/L</mat-label>
        <input matInput placeholder="House B/L" formControlName="hBl">
      </mat-form-field>
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>Master In Bond</mat-label>
        <input matInput placeholder="Master In Bond" formControlName="mib">
      </mat-form-field>
    </div>

  </fieldset>

  <fieldset formGroupName="vessel" style="color:red">
    <legend>Vessel and Voyage Information</legend>
    <div class="row">
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Vessel Type</mat-label>
        <input matInput placeholder="Vessel Type" formControlName="vType">
      </mat-form-field>
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>Carrier Code</mat-label>
        <input matInput placeholder="Carrier Code" formControlName="carrierCode">
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance='fill'>
        <mat-label>Carrier Flag</mat-label>
        <input matInput placeholder="Carrier Code" formControlName="flag">
      </mat-form-field>
    </div>

    <div class="row">
      <p class="col-md-2">Vessel Name Goes Here</p>
      <mat-form-field class="col-md-7" appearance='fill'>
        <mat-label>Voyage Number</mat-label>
        <input matInput placeholder="Voyage Number" formControlName="voyage">
      </mat-form-field>
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Vessel Code</mat-label>
        <input matInput placeholder="Vessel Code" formControlName="vessCode">
      </mat-form-field>
    </div>

  </fieldset>

  <fieldset formGroupName="ports" style="color:red">
    <legend>Ports Information</legend>
    <div class="row">
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>Port of Receipt</mat-label>
        <input matInput placeholder="Port of Receipt" formControlName="por">
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance='fill'>
        <mat-label>Port of Loading</mat-label>
        <input matInput placeholder="Port of Loading" formControlName="pol">
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance='fill'>
        <mat-label>First Foreign Port</mat-label>
        <input matInput placeholder="First Foreign Port" formControlName="firstForPort">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Last Foreign Port</mat-label>
        <input matInput placeholder="Last Foreign Port" formControlName="lastForPort">
      </mat-form-field>
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Port of Unlading</mat-label>
        <input matInput placeholder="Port of Unlading" formControlName="pou">
      </mat-form-field>
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>ETA</mat-label>
        <input matInput placeholder="ETA" formControlName="eta">
      </mat-form-field>
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Final Destination</mat-label>
        <input matInput placeholder="Final Destination" formControlName="finalDest">
      </mat-form-field>

    </div>

  </fieldset>

  <fieldset formGroupName="weights" style="color:red">
    <legend>Weigts and Measures</legend>
    <div class="row">
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity" formControlName="quantity">
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance='fill'>
        <mat-label>Unit of Measure</mat-label>
        <input matInput placeholder="Unit of Measure" formControlName="uom">
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance='fill'>
        <mat-label>Gross Weight </mat-label>
        <input matInput placeholder="Gross Weight " formControlName="grossWt">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Weight Unit</mat-label>
        <input matInput placeholder="Weight Unit" formControlName="unitWt">
      </mat-form-field>
      <mat-form-field class="col-md-7" appearance='fill'>
        <mat-label>Volume</mat-label>
        <input matInput placeholder="Volume" formControlName="volume">
      </mat-form-field>
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>Volume Unit</mat-label>
        <input matInput placeholder="Volume Unit" formControlName="unitVol">
      </mat-form-field>
    </div>

  </fieldset>

  <!-- <fieldset formArrayName="container"  style="color:red">
    <legend>Containers</legend>
    <div class="row">
      <mat-form-field class="col-md-2" appearance='fill'>
        <mat-label>Container Number</mat-label>
        <input matInput placeholder="Container Number" formControlName="contNo">
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance='fill'>
        <mat-label>Container Type</mat-label>
        <input matInput placeholder="Container Type" formControlName="contType">
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance='fill'>
        <mat-label>Seal No</mat-label>
        <input matInput placeholder="Seal No" formControlName="sealNo">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-3" appearance='fill'>
        <mat-label>Load Status</mat-label>
        <input matInput placeholder="Load Status" formControlName="loadStatus">
      </mat-form-field>
      <mat-form-field class="col-md-7" appearance='fill'>
        <mat-label>Service</mat-label>
        <input matInput placeholder="Service" formControlName="service">
      </mat-form-field>
    </div>

  </fieldset> -->

  <fieldset formGroupName="relatedParties" style="color:red" >
    <legend>Related Parties</legend>
    <div fxLayout="row" fxLayoutAlign="space-around start">
    <div class="card" fxFlex="24" formGroupName="shipper">
      <mat-form-field  appearance='fill'>
        <mat-label>Shipper Code</mat-label>
        <input matInput placeholder="Shipper Code" formControlName="shipperCode">
      </mat-form-field>
      <mat-form-field  appearance='fill'>
        <mat-label>Shipper Name</mat-label>
        <input matInput placeholder="Shipper Name" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Shipper Address</mat-label>
        <input matInput placeholder="Shipper Address" formControlName="address">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Shipper Tel No</mat-label>
        <input matInput placeholder="Shipper Tel No" formControlName="telNo">
      </mat-form-field>
    </div>

       <div class="card" fxFlex="24" formGroupName="consignee">
      <mat-form-field  appearance='fill'>
        <mat-label>Consignee Code</mat-label>
        <input matInput placeholder="Consignee Code" formControlName="consigneeCode">
      </mat-form-field>
      <mat-form-field  appearance='fill'>
        <mat-label>Consignee Name</mat-label>
        <input matInput placeholder="Consignee Name" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Consignee Address</mat-label>
        <input matInput placeholder="Consignee Address" formControlName="address">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Consignee Tel No</mat-label>
        <input matInput placeholder="Consignee Tel No" formControlName="telNo">
      </mat-form-field>
    </div>

    <div class="card" fxFlex="24" formGroupName="notify">
      <mat-form-field  appearance='fill'>
        <mat-label>Notify Code</mat-label>
        <input matInput placeholder="Notify Code" formControlName="notifyCode">
      </mat-form-field>
      <mat-form-field  appearance='fill'>
        <mat-label>Notify Name</mat-label>
        <input matInput placeholder="Notify Name" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Notify Address</mat-label>
        <input matInput placeholder="Notify Address" formControlName="address">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Notify Tel No</mat-label>
        <input matInput placeholder="Notify Tel No" formControlName="telNo">
      </mat-form-field>
    </div>

    <div class="card" fxFlex="24" formGroupName="secondNotify">
      <mat-form-field  appearance='fill'>
        <mat-label>Second Notify Code</mat-label>
        <input matInput placeholder="Second Notify Code" formControlName="secondNotifyCode">
      </mat-form-field>
      <mat-form-field  appearance='fill'>
        <mat-label>Second Notify Name</mat-label>
        <input matInput placeholder="Second Notify Name" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Second Notify Address</mat-label>
        <input matInput placeholder="Second Notify Address" formControlName="address">
      </mat-form-field>
      <mat-form-field appearance='fill'>
        <mat-label>Second Notify Tel No</mat-label>
        <input matInput placeholder="Second Notify Tel No" formControlName="telNo">
      </mat-form-field>
    </div>
   </div>

  </fieldset>

  <fieldset formGroupName = "amend" style="color:red">
    <legend>Amend Flag</legend>
    <div class="row">
      <mat-form-field class="col-md-4" appearance='fill'>
        <mat-label>Amend Flag</mat-label>
        <input matInput placeholder="Amend Flag" formControlName="amendFlag">
      </mat-form-field>
      <mat-form-field class="col-md-8" appearance='fill'>
        <mat-label>Amend Reason</mat-label>
        <input matInput placeholder="Amend Reason" formControlName="reason">
      </mat-form-field>

    </div>

  </fieldset>


  </form>

  <p> Form Value: {{ amsForm.value | json }}</p>

