<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/images/YellowStone05.jpg" alt="Yellow Stone">
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/airAms/">
    <mat-icon>home</mat-icon> Air AMS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/parties/">
    <mat-icon>dashboard</mat-icon> Parties
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/airExport/">
    <mat-icon>info</mat-icon> Air Export
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/airImport/">
    <mat-icon>face</mat-icon> Air Import
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/cmsq/">
    <mat-icon>language</mat-icon> CMSQ
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/tables/">
    <mat-icon>question_answer</mat-icon> Tables
  </a>

</mat-nav-list>
