<mat-toolbar>
  <span class="material-icons">face</span>
  <h1>ANA Link, Ltd</h1>
</mat-toolbar>

<mat-card class='wrapper'>

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in ANA Link</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControllName="username" class="form-control" placeholder="Username">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" class="form-control" placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          <a routerLink="/home1/nav"><button mat-stroked-button color="accent" class="btn-block" >Log in</button> </a>
        </form>
      </mat-card>

    </form>
  </div>

  </mat-card>

  <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card fxFlex="33" class='example-card'>
        <mat-card-header>
          Card 1
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2022/01/16/13/25/cityscape-6942013__340.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
      <mat-card  fxFlex="33"class='example-card'>
        <mat-card-header>
          Card 2
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2022/01/10/15/29/wind-mills-6928590__340.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card fxFlex="33"class='example-card'>
      <mat-card-header>
        Card 3
      </mat-card-header>
      <img mat-card-image src="https://cdn.pixabay.com/photo/2021/12/16/15/26/forest-6874717__340.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>

  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in!!
  </div>
  <footer>Copyrighted by ANA Link</footer>
