<mat-toolbar style="color: #d4daf7">
  <button
    mat-icon-button
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <!-- *ngIf="isHandset$ | async"> -->
    <mat-icon style="color: #183bf0">menu</mat-icon>
  </button>

  <span>
    <img
      src="../../../assets/images/logo.jpg"
      alt="ANA Link. Ltd"
      width="70"
      height="40"
    />
  </span>

  <span class="name1">ANA Link</span>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon style="color: #2d14b8">favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon style="color: #b88114">share</mat-icon>
  </button>

  <span class="toolbar-filler"></span>
  <input type="search" value="search" />
  <button
    id="button-logout"
    type="button"
    class="btn btn-warning"
    (click)="logout()"
  >
    Log Out
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <button type="button" class="btn btn-primary btn-lg">New</button>
    <mat-menu-item
      *ngFor="let menu of menuItem"
      [ngStyle]="{ 'padding-left': '20px' }"
    >
      <a mat-list-item routerLink="{{ menu.route }}">
        <mat-icon>{{ menu.iconName }}</mat-icon>
        {{ menu.label }}</a
      >
    </mat-menu-item>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-dashboard *ngIf="showDefaultMessage"></app-dashboard>

    <router-outlet
      (activate)="toggleDefaultMessage(false)"
      (deactivate)="toggleDefaultMessage(true)"
    ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<h1>Footer here?</h1>
