<h1>ANA Link, Ltd</h1>

<mat-toolbar color="primary">
  <h3>Menu</h3>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon" >menu</mat-icon>
  </button>
  <span>angularAdmin-first</span>

  <span class="toolbar-filler"></span>
  <button id="button-logout" md-button>Log Out</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">


    <mat-menu-item *ngFor = 'let menu of menuItem' [ngStyle]="{'padding-left': '10px'}" >
      <a mat-list-item routerLink="{{menu.route}}" >
        <mat-icon>{{menu.iconName}}</mat-icon>
        {{menu.label}}</a>

    </mat-menu-item>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet *ngIf='isLoggedIn'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

