<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <!-- *ngIf="isHandset$ | async"> -->
    <mat-icon>menu</mat-icon>
  </button>
  <span class="name1">ANA Link, Ltd</span>

  <span class="toolbar-filler"></span>
  <a routerLink="/"><button id="button-logout" type="button" class="btn btn-warning" >Log Out</button> </a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">


    <mat-menu-item *ngFor = 'let menu of menuItem' [ngStyle]="{'padding-left': '10px'}" >
      <a mat-list-item routerLink="{{menu.route}}" >
        <mat-icon>{{menu.iconName}}</mat-icon>
        {{menu.label}}</a>

    </mat-menu-item>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-dashboard *ngIf ="showDefaultMessage"></app-dashboard>


    <router-outlet (activate) ="toggleDefaultMessage(false)" (deactivate)="toggleDefaultMessage(true)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

