<div class="container">

  <header>
    <!-- Header -->
    <h1 style="font-weight: bolder; text-align: center;">Manufacturers/Shippers</h1>
  </header>

  <main>
    <!-- Main Content -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Iste voluptates sint excepturi non nam ratione velit libero eius,
      asperiores, temporibus vero beatae perspiciatis maxime iure repellat
      quam ut ducimus maiores!
    </p>
  </main>

  <aside>
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field appearance ="fill">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      </form>
    </mat-card>
    <mat-divider></mat-divider>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="onRegisterSubmit()" #registerform="ngForm">
        <div>
          <p>Enter a username</p>
          <input type="text" name="username" ngModel>
          <p>Enter a password</p>
          <input type="password" name="password" ngModel>
        </div>
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
      </form>
    </mat-card>

  </aside>
  <footer>
    <!-- Footer -->
    <span>
      Copyright 2019-2020
  </span>
  </footer>

</div>


