h1 {
  text-align: center;
  color:darkslateblue
}

.wrapper {
  width: 90%;
  margin: 40px
}

.shipping-card {
  width: 400px;
  height: auto
}

mat-card-header {
  font-size: xx-large;
  height: auto
}

