<h1>Trucking Dashboard </h1>
<nav>
  <a routerLink="air" routerLinkActive="active">Air Delivery</a>
  <a routerLink="lcl" routerLinkActive="active">LCL Delivery</a>
  <a routerLink="fcl" routerLinkActive="active">FCL Delivery</a>
</nav>

<router-outlet></router-outlet>

<mat-card>
  <mat-card-header>
    List of Entries
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    Entries Under Exam
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    Entries with PGA Hold
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    Entries Past Arrival Dates
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    Duty Payments Due
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    Liquidated Entries
  </mat-card-header>
</mat-card>  

