
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  max-width: 600px;
  max-height: auto;
  margin: 10px 10px 10px 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-header {
  font-size: 20px;
  font-family: "Times New Roman", serif;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab {
  font-size: 20px;
  color: plum;
}

body {
  background: url(../../../assets/images/Antelope02.jpg) no-repeat center fixed;
  background-size: cover;
}

.outerContainer {
  padding: 5px;
  border: 1px solid #b6b6b6;
  box-sizing: content-box;
  max-width: 90%;
  margin: auto;
}
