
<div class="container">
  <header>
    <!-- Header -->
    <h1 style="font-weight: bolder; text-align: center;">Ocean Import Tracking</h1>
  </header>
  <nav>
    <!-- Nav Bar -->
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
  </ul>
  </nav>
  <main>
    <!-- Main Content -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Iste voluptates sint excepturi non nam ratione velit libero eius,
      asperiores, temporibus vero beatae perspiciatis maxime iure repellat
      quam ut ducimus maiores!
    </p>
  </main>
  <aside>
    <!-- Sidebar -->
    <h3>Sidebar</h3>
  </aside>
  <footer>
    <!-- Footer -->
    <span>
      Copyright 2019-2020
  </span>
  </footer>
</div>
