<div id='layout-wrapper'>
  <app-topbar>

  </app-topbar>

  <app-sidebar> </app-sidebar>

  <div class="main-content">
    <div class="page-content">
      <button mat-raised-button color="primary" routerLink="/pages/airAms" routerLinkActive="active">Air AMS</button>
      <button mat-raised-button color="accent" routerLink="/pages/airExport" routerLinkActive="active">Air Export</button>
      <button mat-raised-button color="warn" routerLink="/pages/airImport" routerLinkActive="active">Air Import</button>
      <button mat-raised-button color="primary" routerLink="/pages/cmsq" routerLinkActive="active">CMSQ</button>
      <h1>Below is the content by selecting a route</h1>
      <router-outlet></router-outlet>
    </div>
  </div>


  <app-footer>   </app-footer>
</div>

<app-rightsidebar></app-rightsidebar>
