nav a {
  padding: 2rem;
}

a {
  font-size: large;
}

.container {
  min-height: 900px;
  max-width: 90%;
  margin: auto;
}

.outerContainer {
  padding: 5px;
  border: 1px solid #b6b6b6;
  box-sizing: content-box;
  max-width: 90%;
  margin: auto;
}
