<div class="container bg-info">
<div class="row">
  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>ISF No</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>ISF Type</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>Mode of Transportation</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>Shipment Type</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>Action</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

</div>

<div class="row">
  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>ISF No</mat-label>
      <input type="date" matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>ISF Type</mat-label>
      <input type="date" matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>Mode of Transportation</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>Shipment Type</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p class="col">
    <mat-form-field appearance="outline">
      <mat-label>Action</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

</div>

<p class="col">
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <span matPrefix>+1 &nbsp;</span>
    <input type="tel" matInput #phone placeholder="555-555-1234">
  </mat-form-field>
</p>

<button type="button" class="btn btn-primary"  (click)="(phone.value)">Call the number</button>

</div>

<div class="container bg-warning">

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card appearance="outlined" fxFlex="30"  class="example-card">
      <mat-card-header>
        Entries Past Arrival Dates
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>ISF No</mat-label>
              <input type="date" matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>ISF Type</mat-label>
              <input type="date" matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Mode of Transportation</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" fxFlex="30" class="example-card">
      <mat-card-header>
        Duty Payments Due
      </mat-card-header>
      <mat-card-content>
       <div class="row">
        <p class="col">
          <mat-form-field appearance="outline">
            <mat-label>Mode of Transportation</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>

        <p class="col">
          <mat-form-field appearance="outline">
            <mat-label>Shipment Type</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>

        <p class="col">
          <mat-form-field appearance="outline">
            <mat-label>Action</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
       </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" fxFlex="30"  class="col example-card">
      <mat-card-header>
        Liquidated Entries
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>ISF No</mat-label>
              <input type="date" matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>ISF Type</mat-label>
              <input type="date" matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Mode of Transportation</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card appearance="outlined" fxFlex="30"class='example-card'>
      <mat-card-header>
        Entries Past Arrival Dates
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Mode of Transportation</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Shipment Type</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Action</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
         </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" fxFlex="30"class='example-card'>
      <mat-card-header>
        Duty Payments Due
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Mode of Transportation</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Shipment Type</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Action</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
         </div>
      </mat-card-content>

    </mat-card>
    <mat-card appearance="outlined" fxFlex="30"class='example-card'>
      <mat-card-header>
        Liquidated Entries
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Mode of Transportation</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Shipment Type</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>

          <p class="col">
            <mat-form-field appearance="outline">
              <mat-label>Action</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
         </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
